analyzed_data.json
matches.json
sorted_augment_placements.json
sorted_placements.json
sorted_trait_placements.json
sorted_unit_placements.json
units.json
__pycache__/
name_to_ids.txt
player_data.csv
usernames.csv
augment_placements.csv
trait_placements.csv
unit_placements.csv
APIkey.txt
